<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
   
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex ng-controller="myCtrl">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let di of dishes" (click)="onSelect(di)" aria-live="assertive">
        <img height="200px" src={{di.image}} alt={{di.name}}>
        <mat-grid-tile-footer>
          <h1>{{di.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  </div>

  <app-dishdetail [selectItem]="selectedDish"></app-dishdetail>