<div class="container"
    fxLayoutAlign.gt-md="space-left"
    fxLayoutGap.xs="10">

  <div fxFlex="40">
        <mat-card *ngIf="selectItem" class="Dish">
        <mat-card-header>
              <mat-card-title>
                <h3>{{selectItem.name | uppercase}}</h3>
              </mat-card-title> 
        </mat-card-header>      
              <img mat-card-image src={{selectItem.image}} alt={{selectItem.name}}>         
        <mat-card-content><h3>{{selectItem.description}}</h3></mat-card-content>      
        </mat-card>
  </div>

  <div fxFlex="60">
    <mat-card-title>Comments</mat-card-title>
      <mat-list *ngIf="selectItem" width=10px font=arial>
        <div *ngFor="let index of selectItem.comments">
          <mat-list-item>{{index.comment}}</mat-list-item>
          <mat-list-item>{{index.rating}} stars</mat-list-item>
          <mat-list-item>--{{index.author}} | {{index.date }}</mat-list-item>
        </div>
      </mat-list>
  </div>

</div>